[Match]
Name={{ item.key }}

[Network]
{% if item.value.cidr is defined %}
Address={{ item.value.cidr | ipaddr('host/prefix') }}
{% if item.value.gateway is defined %}
Gateway={{ item.value.gateway }}
{% endif %}
{% else %}
DHCP=yes
{% endif %}
